
.divSecundario{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

    @media (max-width: 768px){
        .divSecundario{
            flex-direction: column;        
        }
    }

.ImagenPersonaje{
    border-radius: 20px;
    border: 3px solid rgb(82, 201, 222);
    width: 100%;
    margin-top: 60px;
    margin-left: 0px;
}

    @media (max-width: 768px){
        .ImagenPersonaje{
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }

.Id{ 
    border-radius: 20px;
    border: 3px solid rgb(82, 201, 222);
    background-color: rgb(0, 0, 0, 0.5);
    color: rgb(82, 201, 222);
    font-size: 30px; 
    margin-top: 80px;
    margin-left: 0px;
}

    @media(max-width: 768px){
        .Id{
            font-size: 20px; 
            margin: 20px 0px 40px 20px;
            width: 100px;
        }
    }

.GeneralButton{
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    font-size: 18px; 
    padding: 2px 30px;
    border-color: rgb(82, 201, 222);
    border-radius: 15px; 
    cursor: pointer;
    margin: 10px;
    margin-top: 20px;
}

.Info{
    color: white;
    margin-top: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 400px;
    border-radius: 20px;
    border: 3px solid rgb(82, 201, 222)
}

    @media(max-width: 768px){
        .Info{
            font-size: 10px;
            margin: 40px;
            width: 300px;
        }
    }

.Portal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-32%, 0%);                                    
    z-index: 1;
    width: 20%;
    height: auto,
}

    @media(max-width: 768px){
        .Portal{
            transform: translate(-10%, -5%);
            width: 35%;
        }
    }

.RickBailando{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-5%, 20%);                                    
    z-index: 1;
    width: 8%;
    height: auto,
}

    @media(max-width: 768px){
        .RickBailando{
            transform: translate(45%, 5%);
            width: 16%;
        }
    }

