.Tarjetas{
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: Row;
    flex-wrap: wrap; /* Añade esta línea para permitir el ajuste a nuevas líneas */
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start; /* Alinea las líneas al principio verticalmente */
}

.GeneralButton{
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    font-size: 15px; 
    padding: 0px 10px 0px 10px;
    border-color: rgb(82, 201, 222);
    border-radius: 15px; 
    cursor: pointer;
    margin: 15px 15px 15px 15px;
}